spring:
  application:
    name: github-actions-demo
  datasource:
    url: jdbc:postgresql://localhost:5432/spring
    username: postgres
    password: password123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
